<ul class="sections">
  <li class="section hoverable">
    <span class="glyphicon glyphicon-user"></span>
    <span style="word-spacing: 100vw">TECHNOLOGY</span>
  </li>
  <li class="section hoverable">
    <span class="glyphicon glyphicon-align-justify"></span>
    <span>EDUCATION</span>
  </li>
  <li class="section hoverable">
    <span class="glyphicon glyphicon-user"></span>
    <span>WORK</span>
  </li>
  <li class="section hoverable">
    <span class="glyphicon glyphicon-align-justify"></span>
    <span>OPEN SOURCE</span>
  </li>
  <li class="section hoverable">
    <span class="glyphicon glyphicon-user"></span>
    <span>AWARDS</span>
  </li>

</ul>