@import url('https://fonts.googleapis.com/css?family=Poppins');
$hover-color: rgb(58, 132, 202);

ul.sections {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-bottom:0;
    li { 
        span {
            display:block;
        }
        .divider {
            content: '';
            width: 100%;
            height: 1px;
            background: -moz-radial-gradient(right, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
            background: -webkit-radial-gradient(right, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
            background: radial-gradient(ellipse at right, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
        } 
    }
    .glyphicon {
        font-size: 18px;
        padding: 8px;
    } 
    .section {
        text-align: center;
        .item {
            padding-top: 10px;
            padding-bottom: 14px;
        }
    }
}
.hoverable {
    transition: width 0.5s, height 0.5s, linear;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
    -moz-transition: width 0.5s, height 0.5s, linear;
    -o-transition: width 0.5s, height 0.5s, linear;
}
.hoverable:hover {
    color: $hover-color;
    cursor: pointer;
    transform: scale(1.075);
    transition: width 0.75s, height 0.75s, linear;
    -webkit-transition: width 0.75s, height 0.75s, -webkit-transform 0.75s;
    -moz-transition: width 0.75s, height 0.75s, linear;
    -o-transition: width 0.75s, height 0.75s, linear;
}
